HOST=0.0.0.0
PORT=1337

APP_KEYS="toBeModified1,toBeModified2"
API_TOKEN_SALT=tobemodified
ADMIN_JWT_SECRET=tobemodified
TRANSFER_TOKEN_SALT=tobemodified
JWT_SECRET=tobemodified
ENCRYPTION_KEY=tobemodified

# Database
DATABASE_CLIENT=postgres
DATABASE_HOST=0.0.0.0
DATABASE_PORT=5432
DATABASE_NAME=strabi-db
DATABASE_USERNAME=admin
DATABASE_PASSWORD=changeMe
DATABASE_SSL=false
DATABASE_FILENAME=.tmp/data.db